{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Đăng nhập | IT Career Hub</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<main class="login-container">

    <section class="login-card">

        <!-- FORM -->
        <div class="login-left">

            <h1>ĐĂNG NHẬP</h1>

            <div class="social-icons">

                <a href="#">
                    <i class="fab fa-google"></i>
                </a>

                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>

            </div>

            <div class="divider">
                <span></span>
                <p>hoặc</p>
                <span></span>
            </div>

            <form id="loginForm" method="post">

                {% csrf_token %}

                <div class="input-group">
                    <input
                        type="text"
                        name="username"
                        placeholder="Tên đăng nhập"
                        required>
                </div>

                <div class="input-group">
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        required>
                </div>

                <div class="input-group">
                    <input
                        type="password"
                        name="password"
                        placeholder="Mật khẩu"
                        required>
                </div>

                <a href="#" class="forgot-password">
                    Quên mật khẩu?
                </a>

                <button type="submit" class="btn-login">
                    ĐĂNG NHẬP
                </button>

            </form>

        </div>

        <!-- WELCOME -->

        <div class="login-right">

            <div class="welcome-content">

                <h2>
                    CHÀO MỪNG TỚI <br>
                    IT CAREER HUB
                </h2>

                <p>
                    Find new opportunities here
                </p>

                <a href="{% url 'users:register' %}" class="btn-register">
                    ĐĂNG KÝ
                </a>

            </div>

        </div>

    </section>

</main>

<script src="{% static 'js/login.js' %}"></script>

</body>
</html>